* {
	border: none;
	border-radius: 0;
	font-family: Ubuntu;
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background: transparent;
	color: white;
}

#workspaces {
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 0px;
	border-radius: 5px;
	font-family: monospace;
	background-color: #24283b;
	color: #c0caf5;
}

#workspaces button {
	box-shadow: unset;
	background: unset;
	padding: 3px 7px;
}

#workspaces button.visible {
	color: #12141d;
	background-color: #5571ac;
	border-radius: 5px;
}

#workspaces button.focused {
	color: #24283b;
	background-color: #7aa2f7;
}

#workspaces button.persistent {
	color: #24283b;
	background-color: #07080c;
}
#workspaces button.persistent#sway-workspace-1 {
	border-radius: 5px 0px 0px 5px;
}
#workspaces button.persistent#sway-workspace-10\:0 {
	border-radius: 0px 5px 5px 0px;
}

#custom-terminal-dropdown, #custom-ncmpcpp-dropdown {
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 0px;
	padding: 3px 7px;
	border-radius: 5px;
	font-family: monospace;
}

#custom-terminal-dropdown.background, #custom-ncmpcpp-dropdown.background {
	color: #c0caf5;
	background-color: #24283b;
}

#custom-terminal-dropdown.foreground, #custom-ncmpcpp-dropdown.foreground {
	color: #24283b;
	background-color: #7aa2f7;
}

#mode {
	color: #f7768e;
	padding: 5px 10px;
	background-color: #24283b;
	border-radius: 5px;
	margin-left: 10px;
}

#clock, #battery, #pulseaudio, #network {
	background-color: #24283b;
	padding: 5px 10px;
	margin: 5px 0px;
	margin-top: 0px;
}

#pulseaudio {
	color: #e0af68;
	border-radius: 5px 0px 0px 5px;
}

#network {
	color: #f7768e;
}

#battery {
	color: #9ece6a;
}

#battery.charging {
	color: #9ece6a;
}

#battery.low:not(.charging) {
	background-color: #f7768e;
	color: #24283b;
	border-radius: 5px 5px 5px 5px;
}

#clock {
	color: #7dcfff;
	border-radius: 0px 5px 5px 0px;
	margin-right: 10px;
}

#tray {
	background-color: #24283b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}
